[build]
  publish = "public"
  command = "hugo"
  functions = "functions"

[context.production]
  command = "hugo"
  [context.production.environment]
    HUGO_VERSION = "0.41"
    HUGO_ENV = "production"