{{ define "main" }}
<div class="container-fluid content">
    <div class="row justify-content-center content-title">
        <div class="col-12 col-lg-9 col-xl-9 pb-4">
            <h4>Subscribe</h4>
            Subscribe to receive an email when a new blog entry is posted.
        </div>
    </div>
    <form class="needs-validation" novalidate name="subscribe" method="POST" action="/thanks" netlify-honeypot="callsign" netlify>
        <div class="row justify-content-center content-body">
            <div class="col-4 col-lg-3 col-xl-3">
                <input class="d-none" name="callsign"/>
                <label for="validationCustom01">First Name</label>
                <input type="text" class="form-control" id="validationCustom01" required>
                <div class="invalid-feedback">Please provide a first name.</div>
            </div>
            <div class="col-4 col-lg-3 col-xl-3">
                <label for="validationCustom02">Last Name</label>
                <input type="text" class="form-control" id="validationCustom02" required>
                <div class="invalid-feedback">Please provide a last name.</div>
            </div>
            <div class="col-4 col-lg-3 col-xl-3">
                <label for="validationCustom03">Email</label>
                <input type="text" class="form-control" id="validationCustom03" aria-describedby="emailHelp" required>
                <div class="invalid-feedback">Please provide a valid email address.</div>
                <small id="emailHelp" class="form-text text-muted">Your email will never be shared.</small>
            </div>
        </div>
        <div class="row justify-content-center content-body">
            <div class="col-12 col-lg-9 col-xl-9 pt-4">
                <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
        </div>
    </form>
</div>

<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{{ end }}
