@font-face {
    font-family: 'Routed Gothic';
    src: url('../font/routed-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Routed Gothic';
    src: url('../font/routed-gothic-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Routed Gothic', sans-serif;
    font-size: small;
    background-color: #ffffff;
    color: #333;
    margin: 0;
}

:root {
    --color-border-default: #e9ecef;
    --color-btn-primary-disabled-border: #e9ecef;
    --color-btn-primary-border: #e9ecef;
    --color-accent-muted: #e9ecef;
    --color-box-border-info: #e9ecef;
    --color-fg-default: #333;
    --color-btn-hover-border: #68d6a3;
    --color-btn-primary-hover-border: #68d6a3;
    --color-action-list-item-default-hover-bg: #68d6a3;
    --color-social-reaction-bg-hover: #68d6a3;
    --color-social-reaction-bg-reacted-hover: #68d6a3;
}

.gsc-main {
    font-family: 'Routed Gothic', sans-serif;
    font-size: small;
}

.gsc-main a:hover,
.gsc-main a:active {
    color: #68d6a3;
}

.gsc-main .fsc-reactions-button:hover {
     fill: #68d6a3; 
}

.gsc-main button:hover:not(:disabled),
.gsc-main button:active:not(:disabled) {
    color: #68d6a3;
    border-color: #68d6a3;
}

.gsc-main .btn-primary:hover:not(:disabled) {
    color: #68d6a3;
}

.gsc-main .gsc-right-header button:hover,
.gsc-main .gsc-right-header button:active {
    color: inherit;
    border-color: inherit;
}

.gsc-left-header em {
    visibility: hidden;
}

.gsc-reactions-count {
    text-align: left;
    font-weight: 400;
}

.gsc-comments-count {
    font-weight: 400;
}

#__next .gsc-reactions div.justify-center {
    justify-content: left;
    margin-left: 6px;
}

.gsc-reactions-popover {
    background-color: #ffffff;
}
