@font-face {
    font-family: 'Routed Gothic';
    src: url('../font/routed-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Routed Gothic';
    src: url('../font/routed-gothic-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'Routed Gothic', sans-serif;
    font-size: small;
    background-color: #111;
    color: #c3c6cc;
    margin: 0;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
    font-style: italic;
    color: #6e6c76;
}

a {
    text-decoration: none;
}

pre {
    padding: 5px;
    background-color: #f0f4f8;
    color: rgb(232, 62, 140);
}

a[*|rel~="external"]:not([class="resp-sharing-button__link"])::after {
    display: inline;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
    font-family: "Font Awesome 5 Free";
    content: "\A0\f35d";
}

figcaption {
    color: #6e6c76;
    padding-top: 5px;
}

.global-nav {
    padding-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.global-nav .navbar-toggler {
    padding-right: 0;
}

.global-nav ul {
    text-align: right;
}

.global-nav a {
    color: #ffffff;
}

.global-nav a:hover,
.global-nav a.active {
    text-decoration: underline;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

img.brand {
    height: 70px;
    margin-left: -0.4em;
}

.sub-nav {
    padding-left: 1.5em;
    background-color: #c3c6cc;
    color: #333;
    line-height: 8px;
    padding-top: 1em;
    padding-bottom: 1em;
}

.sub-nav a {
    color: #333;
}

.sub-nav a:hover,
.sub-nav a.active {
    text-decoration: underline;
}

.page-nav {
    padding-left: 2.5em;
    background-color: #c3c6cc;
    color: #333;
}

.page-nav {
    padding-top: 1em;
    padding-bottom: 0;
}

.page-nav .page-link {
    color: #333;
    padding: 0.25rem 0.5rem;
}

.page-nav .page-item.active .page-link {
    background-color: #6e6c76;
    border-color: #6e6c76;
}

.page-nav .page-item .page-link:hover {
    color: #68d6a3;
}

.page-nav .page-item.active .page-link:hover {
    color: #ffffff;
}

.page-item:last-child .page-link, .page-item:first-child .page-link {
    border-radius: 0;
}

.content {
    background-color: #ffffff;
    color: #333;
    min-height: 200px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.content label {
    font-size: small;
}

.content .form-control {
    font-size: small;
    border-color: #e9ecef;
}

.content a {
    text-decoration: underline;
    color: #333;
}

.content a:hover,
.content a:active {
    text-decoration: underline;
    color: #68d6a3;
}

.content .btn-primary {
    background-color: #fff;
    color: #333;
    border: 1px solid #e9ecef;
    font-weight: normal;
    font-size: small;
}

.content .btn-primary:hover,
.content .btn-primary:active,
.content .btn-primary:focus {
    background-color: #fff !important;
    color: #68d6a3 !important;
    border-color: #68d6a3 !important;
}

.content-divider div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.content-divider:first-child div {
    display: none;
}

.content-date {
    vertical-align: top;
    line-height: 12px;
    padding-left: 1em;
    font-size: small;
}

.content-title a {
    line-height: 14px;
    text-decoration: none;
    color: #333;
    vertical-align: text-top;
}

.content-title a:hover,
.content-title a:active {
    text-decoration: none;
    color: #68d6a3;
}

.content-tags {
    top: -5px;
    font-size: small;
}

.content-tags a.tag {
    font-weight: normal;
    border: 1px solid #e9ecef;
    display: inline;
    line-height: 10px;
}

.content-tags a.tag:hover {
    border-color: #68d6a3;
}

.content-body  {
    font-size: small;
}

.content-more  {
    padding-top: 0.5em;
}
    
.avatar {
    height: 3em;
}

.footer {
    padding: 1.5em;
}

.footer h1 {
    font-size: small;
    color: #ffffff;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #c3c6cc;
}

.footer a {
    color: #c3c6cc;
}

.footer a:hover {
    color: #ffffff;
}

.footer ul {
    list-style-type: none;
    padding-left: 0;
}

.footer li {
    padding-bottom: 0.5em;
}

.copyright {
    color: #6e6c76;
}

.copyright a {
    color: #6e6c76;
}

.cc-window {
    font-size: small;
    line-height: 1.3em;
}

.cc-banner.cc-theme-edgeless .cc-btn {
    padding: 0.6em;
    min-width: 80px;
}

.cc-revoke {
    display: block !important;
}

.cc-link:active,
.cc-link:hover
{
    color: #68d6a3 !important;
}

@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape) {
    .cc-window .cc-message {
        margin: 0.5em;
    }
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.3em 0.5em;
    border: 1px solid #e9ecef;
}

.resp-sharing-button:hover,
.resp-sharing-button:active {
    border-color: #68d6a3;
    fill: #68d6a3;
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

.resp-sharing-button__icon--solid {
    stroke: none;
}

.resp-sharing-button--email {
    fill: #777;
}

.resp-sharing-button--reddit {
    fill: #5f99cf;
}

.resp-sharing-button--linkedin {
    fill: #0077b5;
}

.resp-sharing-button--hackernews {
    fill: #ff6600;
}

.video-container {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}