<!DOCTYPE HTML>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "global-nav.html" . }}
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
        {{ partialCached "footer.html" . }}

        <!-- Add external relative attribute to external links. This is used to render an external link icon
            after the link and also to trap external navigation with google analytics -->
        <script>
            let outboundLinks = document.getElementsByTagName('a');
            for (let i = 0; i < outboundLinks.length; i++) {
                let outboundLink = outboundLinks[i];
                if (((outboundLink.href.indexOf(location.host) > 8 || outboundLink.href.indexOf(location.host) === -1) &&
                    (outboundLink.href.match(/^http:/i) || outboundLink.href.match(/^https:/i)))
                    || outboundLink.href.match(/^mailto:/i)) {
                    outboundLink.rel = "external";
                }
            }
        </script>

    </body>
</html>
