<!DOCTYPE HTML>
<html lang="en">
    {{ partial "head.html" . }}
    <body class="h-card">
        {{ partial "global-nav.html" . }}
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
        {{ partialCached "footer.html" . }}

        <!-- Add external relative attribute to external links. This is used to render an external link icon
            after the link and also to trap external navigation with google analytics -->
        <script>
            let externalLinks = document.getElementsByTagName('a');
            for (let i = 0; i < externalLinks.length; i++) {
                let externalLink = externalLinks[i];
                if (((externalLink.href.indexOf(location.host) > 8 || externalLink.href.indexOf(location.host) === -1) &&
                    (externalLink.href.match(/^http:/i) || externalLink.href.match(/^https:/i)))
                    || externalLink.href.match(/^mailto:/i)) {
                    externalLink.rel = "external";
                }
            }
        </script>

    </body>
</html>
