{{ $pages := .Store.Get "pages" }}
{{ if eq $pages nil }}
    {{ $pages := where (where .Site.Pages "Section" "posts") ".IsPage" true }}
    {{ .Store.Set "pages" $pages}}
{{ end }}
{{ $pages := .Store.Get "pages" }}
{{ $paginator := .Paginate $pages }}
<div class="container-fluid content">
    {{ range $paginator.Pages }}
        <div class="row justify-content-center content-divider">
            <div class="col-12 col-lg-9 col-xl-9"><hr></div>
        </div>
        <div class="h-entry">
            {{ partial "post-details.html" . }}
            <div class="row justify-content-center content-body">
                <div class="offset-1 col-11 col-lg-8 col-xl-8 p-summary">
                    {{ emojify .Summary }}
                </div>
            </div>
            {{ if .Truncated }}
                <div class="row justify-content-center content-more">
                    <div class="offset-1 col-11 col-lg-8 col-xl-8">
                        <a href="{{ .Permalink }}" class="permalink">Read More</a>
                    </div>
                </div>
            {{ end }}
        </div>
    {{ end }}
</div>
{{ partial "page-nav.html" . }}
