{{ $scratch := .Scratch }}
<div class="container-fluid sub-nav sticky-top">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-9 p-0">
            <nav class="navbar navbar-expand p-0">
                {{ $taxonomy := .Scratch.Get "taxonomy" }}
                {{ $taxonomyName := .Scratch.Get "taxonomyName" }}
                <ul class="navbar-nav flex-wrap">
                    <li class="nav-item pr-2">
                        <a class="nav-link {{ if eq $.Kind "taxonomyTerm" }} active {{ end }}" href="/{{ $taxonomyName }}/">All</a>
                    </li>
                    <li class="nav-item nav-link pr-3">|</li>
                    {{ $title := .Title }}
                    {{ range $name, $pages := $taxonomy }}
                        <li class="nav-item pr-2">
                            <a class="nav-link
                                {{ if eq (urlize $title) $name }}
                                    {{ $scratch.Set "filter" $name}}
                                    active
                                {{ end }}
                                " href="/{{ $taxonomyName }}/{{ $name | urlize }}">{{ humanize $name }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </div>
    </div>
</div>
{{ .Scratch.Set "pages" (where (where .Site.Pages "Section" "posts") ".IsPage" true) }}
{{ $filter := (.Scratch.Get "filter") }}
{{ if ne $filter nil }}
    {{ .Scratch.Set "pages" (where (.Scratch.Get "pages") "Params.tags" "intersect" (slice $filter)) }}
{{ end }}
